#container {
    margin: auto;
    background-color: #9dc88d;
    width: 1000px;
    height: 300px;
    padding-top: 50px;
}

#box_text {
    background-color: aliceblue;
    width: 392px;
    border: 4px solid black;
    text-align: center;
    margin-left: 300px;
    margin-right: 20px;
}

#box_time {
    background-color: aliceblue;
    width: 492px;
    align-items: center;
    border: 4px solid black;
    text-align: center;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 30px;
}
/* 
h1 {
    width: 400px;
    height: 300px;
} */